@inherits Microsoft.AspNetCore.Components.Layouts.LayoutComponentBase
@using Microsoft.JSInterop;
@using Microsoft.AspNetCore.Components;
@inject IJSRuntime JSRuntime
@inject IComponentContext ComponentContext

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        <div class="ms-md-auto" style="margin-left:10px">Hello, @UserName</div>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@functions {

    [Parameter]
    public string UserName { get; set; }

    protected async override Task OnAfterRenderAsync()
    {
        if (!ComponentContext.IsConnected)
        {
            return;
        }

        if (string.IsNullOrEmpty(UserName))
        {
            UserName = await JSRuntime.InvokeAsync<string>("blazorDemoInterop.getUserName");
            Console.WriteLine("UserName: " + UserName);
            StateHasChanged();
        }
    }
}